@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html {
  background-color: #E4DBD4;
  background-image: url('images/productsfinalimage.png');
  font-family: "Roboto", sans-serif;
}

#logo {
  position: relative;
  top:3%; left:13%;
}

#logotext {
  position: absolute;
  top: 4%; left: 20%;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2,300px);
    gap: 1em;
    justify-content: center;
}

.prodimage {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    text-align: center;
}

.p1 {
  font-size: 22px;
  font-weight: 900;
  position: relative;
  top: 15%;
  margin-bottom: 0;
}

.p2 {
  position: absolute;
  right: 10%; bottom: 35%;
}

#ogbun {
    background-image: url("images/TheOriginalBun.jpg");
    background-position-x: -125px;
    color: white;
}

#blackberry {
    background-image: url("images/blackberryBun.jpg");
    color: #FFFFFF;
}

#walnut {
    background-image: url("images/walnutbun.jpg");
}

#glutenfree {
    background-image: url("images/glutenfree.jpg");
}

#pumpkinspice {
    background-image: url("images/pumpkinspice.jpg");
    color: #FFFFFF;
}

#caramelpecan {
    background-image: url("images/carmelpecan.jpg");
}

.singleproduct {
    width: 200px;
    position: relative;
}

.showmorebutton {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 100;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #E5E5E5;
  border-radius: 50%;

  position: absolute;
  right: 5%;
  top: 3%;
}

.showmore {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  left: 10%;
}

.prodinfo {
  background-color: #B49984;
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  height: 100px;
  width: 100%;
  font-weight: 100;
  text-align: center;
}

select {
  font-weight: 100;
  appearance: none;
  border: none;
  width: 50%;
  outline-style: none;
  margin-top: 5px;
}

.addtocart {
  position: absolute;
  align-self: center;
  bottom: 10%;
  right: 10%;
  width: 150px;
  height: 25px;
  padding: 5px;
  background-color: #F0EFCC;

  color: #000000;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 2rem;

  font-size: 16px;
  color: #B49984;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0%;
}

#productfooter {
  color: #B49984;
  text-decoration: none;
}

#productfooter:visited, #productfooter:active {
  text-decoration: none;
}
